button {
  background-color: transparent;
  border-radius: 25%;
  border: black;
  size: 20px
}

button:hover {
  text-decoration: underline;
  color: red;

}

button {
  font-size: 15px;
}

.links {
  display: flex;
  justify-content: center;
}

.first {
  margin-left: 10%;
}

.sec {
  margin-left: 10%;
}

.third {
  margin-left: 9%
}


.navbar {
  background-color: transparent;
}