/* .home button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.backHome {
  position: absolute;
  top: 10px;
  left: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: rgb(213, 231, 231);
  margin-top: 100px;
  padding-bottom: 30px;
  width: 400px;
  height: auto;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

label {
  text-align: left;
}

input {
  margin: 5px;
}

.error {
  text-align: left;
  font-size: 10px;
  color: red;
}



navbar {
  overflow: hidden;
}

.dropdown {
  float: left;
  /* Float the dropdown containers to make them inline */
/* margin-right: 100px;
} */

/* Style the dropdown content (hidden by default) */
/* .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: #333;
}

/* Change color on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown content when the dropdown button is hovered over */
.dropdown:hover .dropdown-content {
  display: block;
}