
.home button { 
  position: absolute; 
  top: 10px; 
  right: 10px; 
}

.backHome { 
  position: absolute; 
  top: 10px; 
  left: 10px;
}

.container { 
  display: flex; 
  flex-direction: column; 
  margin: auto;
  background-color: rgb(213, 231, 231);
  margin-top:100px;
  padding-bottom: 30px;
  width: 400px;
  height: auto;
  border-radius:5px;
}

form {  
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

label { 
  text-align: left;
}

input { 
  margin: 5px;
}

.error { 
  text-align: left; 
  font-size: 10px;
  color: red;
}