.App {
  text-align: center;
}
.home button { 
  position: absolute; 
  top: 10px; 
  right: 10px; 
}

.backHome { 
  position: absolute; 
  top: 10px; 
  left: 10px;
}

form {  /* do not know why not centering */ 
  display: flex; 
  flex-direction: column;
  justify-content: center;
  margin-inline: 400px;
  padding: 10px;
  border-style: ridge;
  border-radius: 5px;
}

form label { 
  text-align: left;
}

.error { 
  text-align: left; 
  font-size: 10px;
  color: red;
}